body{
	padding:0;
	margin:0;
	/* background-color:#f0f0f0; */
	 font-family: Verdana,Arial,Helvetica,微软雅黑2,宋体,sans-serif;
}
.wrapper{
	width:80%;
	height:100%;
	margin: 0 auto;
	padding:40px 0;
	background-color:#fff;
}
h1{
	margin:0 auto;
	padding:10px;
	text-align:center;
}
.demo-head{
	position:relative;
}
.like{
	/* float:right; */
	right:10px;
	border:1px solid #000;
	margin:3px;
	padding:5px;
	text-decoration:none;
	color:black;
	position:absolute;
	top:0;
}
.like:hover{
	background-color:#f4726d;
	color:#fff;
}
